.title {
	color: #1a202c;
    font-weight: 600;
    font-size: 1.25em;
    margin-top: 1.6em;
    margin-bottom: 0.6em;
    line-height: 1.6;
}

.title a {
	text-decoration: none;
    color: unset;
}

.content {
	margin-bottom: 0.5em;
	margin-top: 0;
}

.published_at {
	--text-opacity: 1;
    color: #718096;
    color: rgba(113,128,150,var(--text-opacity));
    font-size: .875rem;
}